.App {
  border: 1px solid white;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  color: aqua;
  font-size: 28px;
  min-height: 1200px;
  padding: 30px;
  padding-top: 0px;
  margin: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 400px;
  text-align: center;
  width: auto;
}

.App p {
  text-align: justify;
  text-shadow: 0 1px 1px white;
}

.App img {
  animation: spin infinite linear;
  animation-duration: 15s;
  -webkit-animation: spin infinite linear;
  -webkit-animation-duration: 15s;
  border: 2px solid grey;
  border-radius: 100px;
  float: left;
  block-size: 150px;
  margin-right: 20px;
  margin-bottom: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
